/* Loading fonts */
@font-face {
    font-family: silkscreen;
    src: url(fonts/slkscr.ttf);
}

@font-face {
    font-family: silkscreenBold;
    src: url(fonts/slkscrb.ttf);
}

body {
    background-color: #00303b;
    font-family: silkscreen;
}

/* Title div styles */
#title img {
    margin: auto;
    display: block;
}

/* Welcome div styles */
#welcome {
    position: relative;
    width: 90%;
    margin: auto;
}

#welcome .robot {
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* Chat bubbles */
.chat-bubble {
	margin: 40px;
    display: inline-block;
    position: relative;
	width: 70%;
	height: auto;
	background-color: #ffce96;
    padding: 1em;
    left: 150px;
    text-align: left;
    border-radius: 1em;
}

.border{
    border: 8px solid #ff7777;
}

.tri-left::before{
    content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -40px;
    right: auto;
    bottom: 30px;
	top: auto;
	border: 20px solid;
	border-color: transparent #ff7777 #ff7777 transparent;
}
.tri-left::after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    left: -20px;
	right: auto;
    bottom: 38px;
	top: auto;
	border: 12px solid;
	border-color: transparent #ffce96 #ffce96 transparent;
}

.tri-right::before{
    content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	right: -40px;
    left: auto;
    bottom: 30px;
	top: auto;
	border: 20px solid;
	border-color: transparent transparent #ff7777 #ff7777;
}
.tri-right::after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
    right: -20px;
	left: auto;
    bottom: 38px;
	top: auto;
	border: 12px solid;
	border-color: transparent transparent #ffce96 #ffce96;
}


/* Game div styles */
#game, #heuristic, #bfs {
    background-color: #f1f2da;
    border-radius: 1em;
    padding: 0.35em 1.2em;
    width: 70%;
    margin: auto;
    margin-top: 1em;
    box-shadow: 4px 4px 14px #000;
    color: #00303b;
}

.img-div, .button-div {
    text-align: center;
    margin: 1em 1em;
}

#heuristic p, #bfs p {
    font-size: large;
    font-family: silkscreenBold;
}

.boygirl {
    border-radius: 10%;
    border: 3px outset #ffce96;
    margin: auto;
    display: inline-block;
}

#partition-select {
    font-family: silkscreen;
    color: #00303b;
    background-color: #ffce96;
}

/* Log styles*/
#log {
    position: relative;
    width: 90%;
}

#log-display p {
    height: 200px;
    margin: auto;
    overflow-y: scroll;
}

#log .robot {
    height: 150px;
    position: absolute;
    transform: scaleX(-1);
    bottom: 0;
    right: 0;
}

#log iframe {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
    margin-top: 20px;
    border-radius: 12px;
    margin-left: 20px;
}

/* Button styles */

button {
    display:inline-block;
    padding:0.35em 1.2em;
    background-color: #ffce96;
    margin:0 0.3em 0.3em 0;
    border-radius:0.3em;
    font-family: silkscreenBold;
    font-weight:300;
    color:#00303b;
    text-align:center;
    transition: all 0.2s;
}

button:hover{
    color:#00303b;
    background-color:#ff7777;
}